developer_mode: True
# Currently used version for yaml output and yaml model config format (in case we change the format during test phases)
# (version <1.0 indicates versions before public release of the demo app) 
# pipeline_config_version: If this field is set, the available configurations 
# that can dynamically loaded in the developer mode are filtered to match the 
# given pipeline_config_version
pipeline_config_version: v0.5

# TODO: only name (rest relative to base and config file path)

# =============================================================================
# SERIALIZATION
# =============================================================================
# If `local_serialization` is True configs are (de)serialized 
# locally based on `local_base_path`. If False, configs are
# (de)serialized on/from Hugging Face as determined by `hf_base_path`.
# ATTENTION: These value configure the handling of pipeline configuration files
#    via the UI in the developer mode. The serializiation of pipeline
#    results is configured by the respective fields in the pipeline configuration.
# ATTENTION: `local_base_path`, `hf_base_path`and `hf_key_name`
#    and `env_file` can be left unset here. In this case, (which presumes the 
#    app is initialized by passing a local config file path) the  app will 
#    inherit the values as they are defined in the specified pipeline config.


env_file: ../.env
local_serialization: False
local_base_path: '.'
# hf_base_path: 'datasets/DebateLabKIT/toxicity-detector-appdata'
hf_base_path: 'scacean/dummy-for-testing'
hf_key_name: 'test_token_hf_dataset_dummy_for_testing'
# config_path: Path relative base_path where possible additional 
# pipeline configurations reside that can be loaded dynamically in the app
# (if developer_mode is set to True)
# ATTENTION: Defaults to "configs" if not set
# Uncomment if needed:
# config_path: 'configs'
# toxicity_examples_data_file: Path relative to base path. If None the respective
# UI button will be invalidated.
# toxicity_examples_data_file: 'configs/toxicity_examples_detox_germeval21_n10000.csv'
toxicity_examples_data_file: 'toxicity_examples_detox_germeval21_n10000.csv'
# toxicity_examples_data_file: 'result_data/toxicity_examples_detox_germeval21_n10000.csv'
pipeline_config_file: pipeline_config_cv0.4.yaml

# UI
force_agreement: True

# Uncomment the following fields to define/alter some of the UI texts
# feedback:
#   likert_scale: 
#     absolutely_correct: "Stimmt absolut"
#     correct: "Stimmt"
#     suspension: "Unklar"
#     incorrect: "Stimmt nicht"
#     absolutely_incorrect: "Stimmt überhaupt nicht" 
# ui_texts:
#   trigger_warning:
#     checkbox_label: "Die Hinweise habe ich zur Kenntnis genommen und der Speicherung der Daten stimme ich zu."
#     message: |
#       # Benutzunghinweise (*!vorläufige Formulierung!*)
#       + **Triggerwarnung:** Die Toxizitätdetektorapp enthält in Form von Beispielen Inhalte, die anstößig oder beunruhigend sein können. Alle Materialien dienen der Unterstützung von Forschungsarbeiten zur Verbesserung der Methoden zur Erkennung von Toxizität. Die enthaltenen Beispiele für Toxizität geben insbesondere nicht wieder, wie die Autoren über bestimmte Identitätsgruppen bzw. Personen denken. Die Beispiele stammen aus dem Korpus ...
#       + **Datenerhebung:** Die eingegebenen Textbeispiele und generierten Kategorisierungen werden für Forschungszwecke gespeichert und benutzt um die Performance von Modelle zu steigern. Darüberhinaus werden keine Daten gesammelt, insbesondere keine personenbezogenen Daten (sofern keine personenbezogenen Daten in das Textfeld eingetragen werden)

