developer_mode: True
# Currently used version for yaml output and yaml model config format (in case we change the format during test phases)
# (version <1.0 indicates versions before public release of the demo app) 
pipeline_config_version: v0.3
default_pipeline_config_file: pipeline_config_cv0.3_2024-11-24_v0.3.yaml
local_pipeline_config: True
local_pipeline_config_base_path: "C:/Users/admin/toxicity-detector/config/pipeline_config"
toxicity_examples_hf_base_path: 'DebateLabKIT/toxicity-detector-appdata/toxicity_example_data'
toxicity_examples_data_file: 'toxicity_examples_detox_germeval21_n10000.csv'
toxicity_examples_key_name: repo_access
feedback:
  likert_scale: 
    absolutely_correct: "Stimmt absolut"
    correct: "Stimmt"
    suspension: "Unklar"
    incorrect: "Stimmt nicht"
    absolutely_incorrect: "Stimmt überhaupt nicht" 
ui_texts:
  trigger_warning:
    checkbox_label: "Die Hinweise habe ich zur Kenntnis genommen und der Speicherung der Daten stimme ich zu."
    message: |
      # Benutzunghinweise (*!vorläufige Formulierung!*)

      + **Triggerwarnung:** Die Toxizitätdetektorapp enthält in Form von Beispielen Inhalte, die anstößig oder beunruhigend sein können. Alle Materialien dienen der Unterstützung von Forschungsarbeiten zur Verbesserung der Methoden zur Erkennung von Toxizität. Die enthaltenen Beispiele für Toxizität geben insbesondere nicht wieder, wie die Autoren über bestimmte Identitätsgruppen bzw. Personen denken. Die Beispiele stammen aus dem Korpus ...
      + **Datenerhebung:** Die eingegebenen Textbeispiele und generierten Kategorisierungen werden für Forschungszwecke gespeichert und benutzt um die Performance von Modelle zu steigern. Darüberhinaus werden keine Daten gesammelt, insbesondere keine personenbezogenen Daten (sofern keine personenbezogenen Daten in das Textfeld eingetragen werden)

